*{
    margin:0;
    padding:0;
}
body{
    font-family: "josefin Slab",serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.3)),url(images/IMG_20210624_194817.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: white; */
}
.card{
    width: 360px;
    height: 560px;
    /* background-color:#eee; */
    position: relative;
    perspective: 1000px;   /*Backgroud ka animation correct krne k liye we use perspective*/
}
.left-side{
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: green; */
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(images/IMG_20210211_203533_left.jpg) no-repeat;
    background-size: cover;
    /* background-position-x: 0; */
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 2s;
}

.right-side{
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: red; */
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(images/IMG_20210211_203533_ryt.jpg) no-repeat;
    background-size: cover;
    /* background-position-x: -180px; */
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 2s;
}
.back-side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    /* background-color: darkblue ; */
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(images/1624809560544.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    box-shadow: 5px 5px 10px black;
    transform: translateZ(-300px);
    transition: z-index .4s step-end, transform 1s,
     box-shadow 1s;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    /* text-shadow: 2px 1px 1px black; */
    
}
.card:hover .left-side{
    transform: rotateY(-360deg);   
}

.card:hover .right-side{
    transform: rotateY(360deg);   
}

.card:hover .back-side{
    transform: translateZ(0);
    z-index: 1;
    /* box-shadow: 5px 5px 10px black; */
    /* background: deeppink; */
    /* color: black; */
    /* background: blueviolet; */
   }

  .name{
    color:#fff;   /* white*/
    font-size: 35px;
    margin: 10px 5px 10px 40px;
    /* text-shadow: 2px 1px 1px white; */
    /* box-shadow: 2px 1px .5px black; */
}
.name2{
    color:#fff;   /* white*/
    font-size: 35px;
    margin: 10px 5px 10px 15px;
}

.reason{
    color:#eee;
    font-size: 25px;
    margin: 15px 0px 5px 24px;
}
.reason2{
    color:#eee;
    font-size: 25px;
    margin: 15px  0px 0px 35px;   
}

.sides{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .left-side .name,
.left-side .reason{
    text-align: center;
}
.right-side .name2,
.right-side .reason{
    text-align: center;
} */

.biography{
    color:white;
    font-size: 27px;
    background-color: rgba(0,0,0,0.4);
    width:90%;
    text-align: center;
    padding:20px;
    margin-top: 35%;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
    text-shadow:5px 2px .5px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.best{
    color:indianred;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-shadow:5px 2px .5px white;
    display: flex;
    justify-content: center;
    font-family:cursive;
    transform: rotate(345deg);
    margin-top: 50px;
}
.button{
    font-size: 30px;
    /* text-align: end; */
    position: absolute;
    top:85%;
    left:90%;
    bottom: 10%;
    right: 5%;
    color: white;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 5px 5px 2px black;
}
/* .container2{
    background: white;
    text-indent: 10px;
} */
.top{
    color:#eee;
    font-weight: 800;
    font-size: 20px;
    text-indent: 15%;
    background-color:darkslategrey;
}

@media only screen and (max-width: 600px) {
  
  }